
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyLayoutPanel.cshtml";
}

<h2>Burası Panel Sayfam</h2>




<table class="table table-hover">
    <tr>
        <td>@HttpContext.Current.User.Identity.Name</td>
    </tr>
    <tr>
        <td>Ad:@Session["Ad"].ToString()</td>
    </tr>
    <tr>
        <td>Soyad:@Session["Soyad"].ToString()</td>
    </tr>
    <tr>
        <td>Kullanıcı Adı:@Session["Kullanıcı Adı"].ToString()</td>
    </tr>
    <tr>
        <td>Şifre:@Session["Şifre"].ToString()</td>
    </tr>
    <tr>
        <td>Okul:@Session["Okul"].ToString()</td>
    </tr>
    <tr>
        <td><button class="btn btn-warning">Şifre Güncelle</button></td>
    </tr>


</table>