@model MVCLibrary.Models.Entities.TBLCATEGORY
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_MYLayout.cshtml";
}

<h2>Kategori Ekle</h2>
<form  method="post" class="form-group">
    <div style="margin-top:15px"></div>
    <div>
        <label>Kategori Adı:</label>
        <input type="text" name="NAME" class="form-control"  />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="=btn1">Kategory Ekle</button>
    </div>
</form>

