@using MVCLibrary.Models.Entities
@model List<TBLCATEGORY>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MYLayout.cshtml";
}

<h1>Kategoriler</h1>


<table class="table table-striped">
    <tr style="background-color: rgb(252,178,22)">
        <th>KATEGORİ ID</th>
        <th>KATEGORİ ADI</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CATEGORYID</td>
            <td>@item.NAME</td>
            <td><a href="/Category/RemoveCategory/@item.CATEGORYID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Category/GetCategories/@item.CATEGORYID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Category/AddCategory/" class="btn btn-primary">Yeni Kategori Ekle</a>